<% if @visible_part %><div class="photoreports-block  big-block"><div class="block">
	<h2>События</h2>
	<hr class="spec-hr">
	<div class="about-us-image-set"><% @event_list.each do |state| %>
		<a href = "//localhost:3000/events/<%= state.id.to_s %><%= @word_to_see %>" class = "album">
			<% if state.icon < 1 %><p>Картинка отсутствует</p>
			<% else %><div class="album-bg"><%= image_tag Photo.find(state.icon).title %></div>
			<% end %>
			<div class="album-title">
				<p><%= state.title %></p>
				<h4>подробнее</h4>
			</div>
		</a>
	<% end %></div>
</div></div><% end %>