@charset "UTF-8";
/*
 *
 *   SKIN 1 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 *
*/
/* line 18, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 22, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 26, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 30, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .spin-icon {
  background: #0e9aef !important;
}

/* line 34, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  background-color: #0e9aef;
  background-image: url("patterns/header-profile-skin-1.png");
}

/* line 39, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1.mini-navbar .nav-second-level {
  background: #3e495f;
}

/* line 43, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .breadcrumb {
  background: transparent;
}

/* line 47, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .page-heading {
  border: none;
}

/* line 51, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  background: #3a4459;
}

/* line 55, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li > a {
  color: #9ea6b9;
}

/* line 59, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 ul.nav-second-level {
  background-color: inherit;
}

/* line 63, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active > a {
  color: #fff;
}

/* line 67, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-minimalize {
  background: #0e9aef;
  border-color: #0e9aef;
}

/* line 72, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
body.skin-1 {
  background: #3e495f;
}

/* line 76, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-static-top {
  background: #ffffff;
}

/* line 80, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 87, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-1 .navbar-fixed-top {
  background: #fff;
}

/* line 91, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .wrapper-content {
  padding: 30px 15px;
}

/* line 95, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 #page-wrapper {
  background: #f4f6fa;
}

/* line 99, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-title, .skin-1 .ibox-content {
  border-width: 1px;
}

/* line 103, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 107, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  border: none;
}

/* line 111, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 115, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}

/* line 120, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}

/* line 125, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .profile-element {
  text-align: center;
}

/* line 129, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .img-circle {
  border-radius: 5px;
}

/* line 133, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-default .nav > li > a:hover, .skin-1 .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: #fff;
}

/* line 138, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 142, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *
 *   SKIN 2 - INSPINIA - Responsive Admin Theme
 *   NAME - Inspinia Ultra
 *
*/
/* line 160, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
body.skin-2 {
  color: #565758 !important;
}

/* line 164, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .minimalize-styl-2 {
  margin: 14px 5px 5px 25px;
}

/* line 168, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-top-links li:last-child {
  margin-right: 25px;
}

/* line 172, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .spin-icon {
  background: #23c6c8 !important;
}

/* line 176, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  background-color: #23c6c8;
  background-image: url("patterns/header-profile-skin-2.png");
}

/* line 181, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-second-level {
  background: #ededed;
}

/* line 185, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .breadcrumb {
  background: transparent;
}

/* line 189, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 193, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .page-heading {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}

/* line 198, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 ul.nav-second-level {
  background-color: inherit;
}

/* line 202, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  background: #e0e0e0;
}

/* line 206, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .logo-element {
  padding: 17px 0;
}

/* line 210, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li > a, .skin-2 .welcome-message {
  color: #edf6ff;
}

/* line 214, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search::-moz-placeholder {
  color: #edf6ff;
  opacity: 0.5;
}

/* line 219, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 #side-menu > li > a, .skin-2 .nav.nav-second-level > li > a {
  color: #586b7d;
}

/* line 223, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active > a {
  color: #213a53;
}

/* line 227, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-header {
  background: #213a53;
}

/* line 231, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-minimalize {
  background: #23c6c8;
  border-color: #23c6c8;
}

/* line 236, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .border-bottom {
  border-bottom: none !important;
}

/* line 240, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search {
  color: #fff;
}

/* line 244, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
body.skin-2 #wrapper {
  background-color: #ededed;
}

/* line 248, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-static-top {
  background: #213a53;
}

/* line 252, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-2 .navbar-fixed-top {
  background: #213a53;
  border-bottom: none !important;
}

/* line 257, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  padding: 30px 25px 30px 25px;
}

/* line 261, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}

/* line 268, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .wrapper-content {
  padding: 30px 15px;
}

/* line 272, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashoard-1 .wrapper-content {
  padding: 0 30px 25px 30px;
}

/* line 276, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  margin-bottom: 1px;
}

/* line 282, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
}

/* line 287, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 #page-wrapper {
  background: #f6f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}

/* line 296, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title, .skin-2 .ibox-content {
  border-width: 1px;
}

/* line 300, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 304, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  border: none;
}

/* line 308, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px;
}

/* line 313, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8;
}

/* line 318, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .img-circle {
  border-radius: 10px;
}

/* line 322, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.navbar-top-links > li > a:hover, .skin-2 .nav.navbar-top-links > li > a:focus {
  background: #1a2d41;
}

/* line 326, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-default .nav > li > a:hover, .skin-2 .navbar-default .nav > li > a:focus {
  background: #e0e0e0;
  color: #213a53;
}

/* line 331, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 335, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *
 *   SKIN 3 - INSPINIA - Responsive Admin Theme
 *   NAME - Yellow/purple
 *
*/
/* line 353, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 357, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 361, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 365, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .spin-icon {
  background: #ecba52 !important;
}

/* line 369, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
body.boxed-layout.skin-3 #wrapper {
  background: #3e2c42;
}

/* line 373, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  background-color: #ecba52;
  background-image: url("patterns/header-profile-skin-3.png");
}

/* line 378, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3.mini-navbar .nav-second-level {
  background: #3e2c42;
}

/* line 382, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .breadcrumb {
  background: transparent;
}

/* line 386, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .page-heading {
  border: none;
}

/* line 390, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 ul.nav-second-level {
  background-color: inherit;
}

/* line 394, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  background: #38283c;
}

/* line 398, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-3 .navbar-fixed-top {
  background: #fff;
}

/* line 402, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li > a {
  color: #948b96;
}

/* line 406, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active > a {
  color: #fff;
}

/* line 410, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-minimalize {
  background: #ecba52;
  border-color: #ecba52;
}

/* line 415, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
body.skin-3 {
  background: #3e2c42;
}

/* line 419, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-static-top {
  background: #ffffff;
}

/* line 423, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 430, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .wrapper-content {
  padding: 30px 15px;
}

/* line 434, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 #page-wrapper {
  background: #f4f6fa;
}

/* line 438, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-title, .skin-3 .ibox-content {
  border-width: 1px;
}

/* line 442, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 446, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  border: none;
}

/* line 450, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 454, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}

/* line 459, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}

/* line 464, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .profile-element {
  text-align: center;
}

/* line 468, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .img-circle {
  border-radius: 5px;
}

/* line 472, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-default .nav > li > a:hover, .skin-3 .navbar-default .nav > li > a:focus {
  background: #38283c;
  color: #fff;
}

/* line 477, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 481, /home/leetsworker/Документи/My_RP/syntez WhitePark with Inspinia/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active {
  background: transparent;
}
